# Imports

In [5]:
import os 
import pandas as pd
from datetime import datetime

#

In [23]:
validfiles = os.listdir()
filenames = [filename for filename in validfiles if 'v.faye' in filename]
dates_downloaded = [str(datetime.strptime(filename.split('_')[1], '%Y%m%d')) for filename in validfiles if 'v.faye' in filename]
date_filename = list(zip(dates_downloaded, filenames))
d_date_files = dict((x, y) for x, y in date_filename)
print(d_date_files)

{'2022-06-28 00:00:00': 'v.faye_20220628_part_1'}

In [42]:
filename = 'v.faye_20220628_part_1'
folder = 'story_sticker_interactions'
subfolders = os.listdir(f'{filename}/{folder}')
for sfolder in subfolders:
    print(f'______________________________________\n\n{sfolder.split(".")[0]}')
    df_current = pd.read_json(f'{filename}/{folder}/{sfolder}')
    display(df_current.head())
    print(dict(df_current.iloc[0,:]))

______________________________________

countdowns

                         story_activities_countdowns
0  {'title': 'v.faye', 'media_list_data': [], 'st...

{'story_activities_countdowns': {'title': 'v.faye', 'media_list_data': [], 'string_list_data': [{'href': '', 'value': '', 'timestamp': 1621353600}]}}
______________________________________

story_likes

                        story_activities_story_likes
0  {'title': 'josh_cruzdardz', 'media_list_data':...
1  {'title': 'kathy.taladro', 'media_list_data': ...
2  {'title': 'alicia.kapeecia', 'media_list_data'...
3  {'title': 'nichooki', 'media_list_data': [], '...
4  {'title': 'gbbea', 'media_list_data': [], 'str...

{'story_activities_story_likes': {'title': 'josh_cruzdardz', 'media_list_data': [], 'string_list_data': [{'href': '', 'value': '', 'timestamp': 1656326156}]}}
______________________________________

emoji_sliders

                      story_activities_emoji_sliders
0  {'title': 'pansartstudio', 'media_list_data': ...
1  {'title': 'anushaakolli', 'media_list_data': [...
2  {'title': 'jhvjune', 'media_list_data': [], 's...
3  {'title': 'cutielaoboy__5', 'media_list_data':...
4  {'title': 'v.faye', 'media_list_data': [], 'st...

{'story_activities_emoji_sliders': {'title': 'pansartstudio', 'media_list_data': [], 'string_list_data': [{'href': '', 'value': '', 'timestamp': 1656046014}]}}
______________________________________

polls

                              story_activities_polls
0  {'title': 'aei.dgaf', 'media_list_data': [], '...
1  {'title': 'isaac_loweyt', 'media_list_data': [...
2  {'title': 'isaac_loweyt', 'media_list_data': [...
3  {'title': 'isaac_loweyt', 'media_list_data': [...
4  {'title': 'isaac_loweyt', 'media_list_data': [...

{'story_activities_polls': {'title': 'aei.dgaf', 'media_list_data': [], 'string_list_data': [{'href': '', 'value': '', 'timestamp': 1538668676}]}}
______________________________________

questions

                          story_activities_questions
0  {'title': 'daaneyel', 'media_list_data': [], '...
1  {'title': 'matthewcaingcoy', 'media_list_data'...
2  {'title': 'jelena_kovacc', 'media_list_data': ...
3  {'title': 'jelena_kovacc', 'media_list_data': ...
4  {'title': 'antondav.d', 'media_list_data': [],...

{'story_activities_questions': {'title': 'daaneyel', 'media_list_data': [], 'string_list_data': [{'href': '', 'value': '', 'timestamp': 1655557998}]}}
______________________________________

quizzes

                            story_activities_quizzes
0  {'title': 'daaneyel', 'media_list_data': [], '...
1  {'title': 'sapphiirec', 'media_list_data': [],...
2  {'title': 'camila_egusquiza', 'media_list_data...
3  {'title': 'josh_cruzdardz', 'media_list_data':...
4  {'title': 'josh_cruzdardz', 'media_list_data':...

{'story_activities_quizzes': {'title': 'daaneyel', 'media_list_data': [], 'string_list_data': [{'href': '', 'value': '', 'timestamp': 1655799061}]}}

['2022-06-28 00:00:00']
['v.faye_20220628_part_1']
[('2022-06-28 00:00:00', 'v.faye_20220628_part_1')]

{'2022-06-28 00:00:00': 'v.faye_20220628_part_1'}